<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Initial Catalog" value="employees" />
    <add key="Data Source" value="192.168.5.1" />
    <add key="Integrated Security" value="false" />
    <add key="User Id" value="test" />
    <add key="Password" value="root" />
  </appSettings>
</configuration>